{% extends 'LoosemonkiesCoreBundle::layout.html.twig' %}

{% block title %} Welcome to phone details page {% endblock %}

{% block content %}

    <div class="row-fluid" style=" margin-top: 10px !important;">

        <div class="phone-images">
            {% set classes = phone.images|split(',') %}
            {% set count = classes|length %}
            <img src="/upload/odm/{{ classes[count-1]|trim }}" class="phone active">
        </div>

        <h1>{{phone.name}}</h1>

        <p>{{phone.description}}</p>

        <ul class="phone-thumbs">
            {% for img in classes|reverse %}
                <li>
                    <img src="/upload/odm/{{ img|trim }}" onclick="setImage('{{ img|trim }}')">
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}