{% extends 'LoosemonkiesCoreBundle::layout.html.twig' %}

{% block title %} Welcome to phone list page {% endblock %}

{% block content %}

    <div class="row-fluid" style=" margin-top: 10px !important;">
        <div class="span2">
            <!--Sidebar content-->

            Search: <input name="query" type="text" value="" onkeyup="searchOdmList(this.value)" class="search" />
            Sort by:
            <select name="order_prop" onchange="sortOdmSearch(this.value)">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
                <option value="-age">Oldest</option>
            </select>

        </div>
        <div class="span10">
            <!--Body content-->

            <ul class="phones">
                {% for phone in phones %}
                    <li class="thumbnail phone-listing">
                        <a href="/phone-details/odm/{{phone.phone_id}}" class="thumb">
                            {% set classes = phone.images|split(',') %}
                            {% set count = classes|length %}
                            <img src="/upload/odm/{{classes[count-1]|trim}}">
                        </a>
                        <a href="/phone-details/odm/{{phone.phone_id}}">{{ phone.name }}</a>
                        <p>{{phone.snippet}}</p>
                        <p>
                            <a href="/phone-edit/odm/{{phone.phone_id}}">Edit</a> |
                            <a href="/phone-delete/odm/{{phone.phone_id}}">Delete</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}