
<ul class="phones">
    {% for phone in phones %}
        <li class="thumbnail phone-listing">
            <a href="/phone-details/{{phone['phone_id']}}" class="thumb">
                {% set classes = phone['images']|split(',') %}
                {% set count = classes|length %}
                <img src="/upload/odm/{{classes[count-1]|trim}}">
            </a>
            <a href="/phone-details/{{phone['phone_id']}}">{{ phone['name'] }}</a>
            <p>{{phone['snippet']}}</p>
        </li>
    {% endfor %}
</ul>